<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <div>
        <h3>
            <p>LIBRARY-A collection or group of collections of books and/or other print or nonprint materials organized and maintained for use (reading, consultation, study, research, etc.)
                Libraries play a vital role in providing people with reliable content. They encourage and promote the process of learning and grasping knowledge. The book worms can get loads of books to read from and enhance their knowledge. Moreover, the variety is so wide-ranging that one mostly gets what they are looking for.
                Furthermore, they help the people to get their hands on great educational material which they might not find otherwise in the market. When we read more, our social skills and academic performance improves.
                Most importantly, libraries are a great platform for making progress. When we get homework in class, the libraries help us with the reference material. This, in turn, progresses our learning capabilities and knowledge. It is also helpful in our overall development.
                A public library is open to everyone for fulfilling the need for information. They are run by the government, schools, colleges, and universities. The members of the society or community can visit these libraries to enhance their knowledge and complete their research.
            This blog give us a brief insight about novels,authors and various kinds of books which will help readers.
            People with same interests can discuss about various topics including politics,social media,old practices and many more
            thus it will help an individual to grow in many levels.
            A library's main goal is to share knowledge. But marketing is an important part of any business, including libraries. Library blogs help a library engage with customers, spread its mission, and encourage interaction.</p>
        </h3>
    </div>
    <footer>chandrakala &copy;2023

    </footer>
</body>
</html>