<link rel="stylesheet" href="/style.css">
<nav>
  <div>
  <ul class="navitems">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>

      <h1 style="padding: 2%; color: rgb(30, 6, 95);">BLOG</h1>
      <h2 style="color: rgb(158, 17, 17); margin: 2px; padding: 2px;"><u>Library Blog</u></h2>
    </div>
  </nav>
